/* ========== GLOBAL STYLES ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Georgia', serif;
    background-color: #fff;
  }
  
  /* ========== NAVBAR ========== */
  /* .main-header {
    background-color: #3d7054;
    padding: 10px 30px;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
  }
  
  .nav-left,
  .nav-right {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .nav-left li a,
  .nav-right li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .logo {
    text-align: center;
    color: white;
    font-family: 'Georgia', serif;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .logo span {
    margin-top: 2px;
    font-size: 14px;
    font-style: italic;
    white-space: nowrap;
  } */


  .room-hero {
    text-align: center;
  }
  
  .hero-image img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    object-position: center;
  }
  
  
  .room-content {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .room-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-style: italic;
    color: black;
  }
  
  .room-content p {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
  }
  
  /* ========== ROOM LIST SECTION ========== */
  .room-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 900px;
    margin: 40px auto;
  }
  
  .room-card {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
  }
  
  .room-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .room-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .room-info {
    flex-grow: 1;
  }
  
  .room-info h3 {
    font-size: 18px;
    margin-bottom: 8px;
    font-style: italic;
  }
  
  .room-info p {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .room-buttons {
    border-radius: 5px;
    display: flex;
    gap: 10px;
  }
  
  .btn-outline {
    padding: 8px 16px;
    border: 1px solid #66a494;
    background-color: transparent;
    color: #66a494;
    cursor: pointer;
    font-size: 12px;
  }
  
  .btn-filled {
    padding: 8px 16px;
    border: none;
    background-color: #66a494;
    color: white;
    cursor: pointer;
    font-size: 12px;
  }
  
  .btn-outline:hover {
    background-color: #e1f0ed;
  }
  
  .btn-filled:hover {
    background-color: #558f7d;
  }
  