<footer class="footer">
    <div class="logo-container">
      <img src="logo.png" alt="Manahayu Logo" class="logo" />
      <h1 class="brand-name">MANAHAYU</h1>
      <span class="tagline">Traditional Resort and Farm</span>
    </div>
    <nav class="footer-nav">
      <a href="home.html">Home</a>
      <a href="aboutus.html">About Us</a>
      <a href="rooms.html">Our Rooms</a>
      <a href="culinary.html">Culinary</a>
      <a href="Galerry.html">Gallery</a>
      <a href="#">Press</a>
      <a href="#">FAQ</a>
      <a href="#">Contact</a>
    </nav>
  </footer>